{% extends "sablon.html" %} {% block icerik %}

<!-- flash() ile app.py'den gelen hata varsa öncelikle bunları sayfada gösterelim-->
{% with hatalar = get_flashed_messages() %} {% if hatalar %} {% for hata in
hatalar %}
<div class="p-3 mb-2 bg-danger text-white">{{ hata }}</div>
{% endfor %} {% endif %} {% endwith %}

<body background="/static/img/arkap.png"></body>
<div class="container">
    <div class="row">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="" data-image=""
                    data-target="#image-gallery">
                    <img class="img-thumbnail" src="/static/img/bc.png" alt="Another alt text">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="" data-image=""
                    data-target="#image-gallery">
                    <img class="img-thumbnail" src="/static/img/abc.jpg" alt="Another alt text">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="" data-image=""
                    data-target="#image-gallery">
                    <img class="img-thumbnail" src="/static/img/kitap.png" alt="Another alt text">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="" data-image=""
                    data-target="#image-gallery">
                    <img class="img-thumbnail" src="/static/img/1.png" alt="Another alt text">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="" data-image=""
                    data-target="#image-gallery">
                    <img class="img-thumbnail" src="/static/img/2.png" alt="Another alt text">
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="" data-image=""
                    data-target="#image-gallery">
                    <img class="img-thumbnail" src="/static/img/a.jpg" alt="Another alt text">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Test1" data-image=""
                    data-target="#image-gallery">
                    <img class="img-thumbnail" src="/static/img/4.png" alt="Another alt text">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice" data-image=""
                    data-target="#image-gallery">
                    <img class="img-thumbnail" src="/static/img/bs.jpg" alt="Another alt text">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice" data-image=""
                    data-target="#image-gallery">
                    <img class="img-thumbnail" src="/static/img/6.jpg" alt="Another alt text">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice" data-image=""
                    data-target="#image-gallery">
                    <img class="img-thumbnail" src="/static/img/7.jpg" alt="Another alt text">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice" data-image=""
                    data-target="#image-gallery">
                    <img class="img-thumbnail" src="/static/img/8.jpg" alt="Another alt text">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice" data-image=""
                    data-target="#image-gallery">
                    <img class="img-thumbnail" src="/static/img/9.jpg" alt="Another alt text">
                </a>
            </div>

        </div>


        <div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="image-gallery-title"></h4>
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                                class="sr-only">Close</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img id="image-gallery-image" class="img-responsive col-md-12" src="">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary float-left" id="show-previous-image"><i
                                class="fa fa-arrow-left"></i>
                        </button>

                        <button type="button" id="show-next-image" class="btn btn-secondary float-right"><i
                                class="fa fa-arrow-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}