{% extends "sablon.html" %} {% block icerik %}
<!-- Sayfa içeriği -->
<img src="/static/img/a2.jpg" class="img-fluid" alt="Responsive image">

<div class="jumbotron">
  <h1 class="display-4; text-center">YILDIZ ETÜT MERKEZİ</h1>

  <marquee direction=right>WEB SAYFAMIZA HOŞGELDİNİZ...</marquee>

  <hr class="my-4" />
  <p>
    Lütfen giriş yapınız ya da kayıt olunuz.
  </p>
  <a class="btn btn-primary btn-success" href="/giris" role="button">Giriş</a>
  <a class="btn btn-primary btn-success" href="/kayit" role="button">Kayıt</a>
</div>

{% endblock %}